# **Workshop 5: Data Quality**
**คำสั่ง**

1.   ศึกษาวิธีการตรวจสอบคุณภาพของข้อมูลชุดข้อมูล transaction data 
2.   ทำการตรวจสอบคุณภาพของข้อมูล ชุดข้อมูล customer data  โดยทำปฏิบัติการแต่ละข้อ
3.   ตั้งชื่อไฟล์ python notebook นี้ในรูปแบบ Lab_05_XXXXXXXXX.ipynb โดย XXXXXXXXX คือ รหัสนักศึกษา
4.   ทำการดาวน์โหลดและส่งไฟล์ Lab_05_XXXXXXXXX.ipynb ที่เว็บไซต์ http://hw.cs.science.cmu.ac.th

In [1]:
import pandas as pd
import numpy as np

In [2]:
# if file is not in the same folder >>> "C:\\Users\\CSB307\\Desktop\\Lab_05\\transaction_data.csv"
transaction_data = pd.read_csv("transaction_data.csv", na_values=-999)
transaction_data

   txn_id cust_id  price process_date
0       1       v   89.0     1/5/2021
1       2       y   60.0     1/5/2021
2       3       m   55.0     1/5/2021
3       4       s    NaN     1/5/2021
4       5       z   50.0     1/5/2021
5       6       s   41.0     2/5/2021
6       7       s    NaN    15/5/2021
7       8       e   23.0     1/5/2021
8       9       n   12.0     1/5/2021
9      10       x   87.0     1/5/2021

In [3]:
# check data type
transaction_data.dtypes

txn_id            int64
cust_id          object
price           float64
process_date     object
dtype: object

In [5]:
print("Total rows =", transaction_data.shape[0])
print("Total columns =", transaction_data.shape[1])

Total rows = 10
Total columns = 4

# Missing values

In [6]:
# detect missing values
missingValues = transaction_data.isna() # มีข้อมูลที่เป็นช่องว่างมั้ย? การที่ข้อมูลระบุว่าเป็น NaN อาจหมายความว่าแหล่งข้อมูลจงใจให้มันเป็นช่องว่าง
print(missingValues)

   txn_id  cust_id  price  process_date
0   False    False  False         False
1   False    False  False         False
2   False    False  False         False
3   False    False   True         False
4   False    False  False         False
5   False    False  False         False
6   False    False   True         False
7   False    False  False         False
8   False    False  False         False
9   False    False  False         False

In [7]:
missingValues # เจ้าตัวแปรนี้เป็น DataFrame

   txn_id  cust_id  price  process_date
0   False    False  False         False
1   False    False  False         False
2   False    False  False         False
3   False    False   True         False
4   False    False  False         False
5   False    False  False         False
6   False    False   True         False
7   False    False  False         False
8   False    False  False         False
9   False    False  False         False

In [8]:
# count the number of missing data
num_missing = missingValues.values.sum() # ทำการนับจำนวนค่าสูญหาย
print(num_missing)

2

In [9]:
# count the number of rows having missing data
row_missing = missingValues.sum(axis=1)
print(row_missing)
num_row_missing = np.count_nonzero(row_missing)
print("There are %d rows contain missing values"%(num_row_missing))

0    0
1    0
2    0
3    1
4    0
5    0
6    1
7    0
8    0
9    0
dtype: int64
There are 2 rows contain missing values

In [10]:
# count the number of columns having missing data
col_missing = missingValues.sum()
print(col_missing)
num_col_missing = np.count_nonzero(col_missing)
print("There are %d columns contain missing values"%(num_col_missing))

txn_id          0
cust_id         0
price           2
process_date    0
dtype: int64
There are 1 columns contain missing values

# Duplicated records

In [11]:
transaction_data[transaction_data.duplicated(['cust_id'])]

   txn_id cust_id  price process_date
5       6       s   41.0     2/5/2021
6       7       s    NaN    15/5/2021

In [12]:
transaction_data[transaction_data.duplicated(['txn_id'])]

Empty DataFrame
Columns: [txn_id, cust_id, price, process_date]
Index: []

In [13]:
transaction_data[transaction_data.duplicated(['txn_id','cust_id'])]

Empty DataFrame
Columns: [txn_id, cust_id, price, process_date]
Index: []

ปฏิบัติการข้อ 1) จงอ่านชุดข้อมูล Customer Data จากไฟล์ customer_data.csv โดยเก็บไว้ในตัวแปล customer_data (ข้อมูลสูญหาย ถูกแทนด้วยช่องว่าง)

In [23]:
# Answer here!
customer_data = pd.read_csv("customer_data.csv", na_values="")
customer_data

  cust_id   age wealth_segment process_date
0       e  44.0            NaN   2020-01-05
1       m  30.0         medium   2020-01-05
2       n  29.0           poor   2020-01-05
3       s  64.0           rich   2020-01-05
4       v   NaN         medium   2020-01-05
5       x  40.0           poor   2020-01-05
6       y  41.0           rich   2020-01-05
7       z  43.0           rich   2020-01-05
8       s -12.0           rich   2020-01-05
9       z  54.0           rich   2021-01-05

ปฏิบัติการข้อ 2) จงนับจำนวนข้อมูลสูญหายทั้งหมดในชุดข้อมูล Customer Data

In [25]:
# Answer here!
missing_values = customer_data.isna() # มีข้อมูลที่เป็นช่องว่างมั้ย? การที่ข้อมูลระบุว่าเป็น NaN อาจหมายความว่าแหล่งข้อมูลจงใจให้มันเป็นช่องว่าง
print(missing_values)

count_missing = missing_values.values.sum() # ทำการนับจำนวนค่าสูญหาย
print("Total Missing Value =", count_missing)

   cust_id    age  wealth_segment  process_date
0    False  False            True         False
1    False  False           False         False
2    False  False           False         False
3    False  False           False         False
4    False   True           False         False
5    False  False           False         False
6    False  False           False         False
7    False  False           False         False
8    False  False           False         False
9    False  False           False         False
Total Missing Value = 2

ปฏิบัติการข้อ 3) จงนับจำนวนคอลัมน์ในชุดข้อมูล Customer Data ที่มีข้อมูลสูญหาย

In [28]:
# Answer here!
column_missing = missing_values.sum()
print(column_missing)

count_column_missing = np.count_nonzero(column_missing)
print("There are %d columns contain missing values"%(count_column_missing))

cust_id           0
age               1
wealth_segment    1
process_date      0
dtype: int64
There are 2 columns contain missing values

ปฏิบัติการข้อ 4) จงนับจำนวนแถวข้อมูลในชุดข้อมูล Customer Data ที่มีข้อมูลสูญหาย

In [29]:
# Answer here!
row_missing = missing_values.sum(axis=1)
print(row_missing)

count_row_missing = np.count_nonzero(row_missing)
print("There are %d rows contain missing values"%(count_row_missing))

0    1
1    0
2    0
3    0
4    1
5    0
6    0
7    0
8    0
9    0
dtype: int64
There are 2 rows contain missing values

ปฏิบัติการข้อ 5) จงหาลูกค้าที่มีการบันทึกข้อมูลในชุดข้อมูล Customer Data ในหลายระเบียนข้อมูล

In [32]:
# Answer here!
customer_data[customer_data.duplicated(['cust_id'])]

  cust_id   age wealth_segment process_date
8       s -12.0           rich   2020-01-05
9       z  54.0           rich   2021-01-05

ปฏิบัติการข้อ 6) จงหาลูกค้าที่มีค่าข้อมูลอายุ (age) ไม่อยู่ในขอบเขตข้อมูลที่ถูกต้อง

In [41]:
# Answer here!
# กำหนดขอบเขตของอายุ
min_age = 0
max_age = 100

# หาลูกค้าที่อายุไม่อยู่ในขอบเขตที่กำหนด
customer_data[(customer_data["age"] < min_age)]

  cust_id   age wealth_segment process_date
8       s -12.0           rich   2020-01-05

ปฏิบัติการข้อ 7) จงหาลูกค้าที่มีค่าข้อมูลอายุ (age) ผิดปรกติ ไม่สอดคล้องความเป็นจริง

In [103]:
# Answer here! #ระบุมาในมุมมองของการตรวจ Data Quality ขอบเขต กฏนั่นนี่
filter1_data = customer_data[(customer_data["age"] < min_age)]
filter2_data = customer_data[(customer_data["age"].isna())]
filter_data = pd.concat([filter1_data, filter2_data], axis=0)
filter_data

  cust_id   age wealth_segment process_date
8       s -12.0           rich   2020-01-05
4       v   NaN         medium   2020-01-05

# Expand customer information in transaction data using information in customer data

In [97]:
# Expand customer information in transaction data
txn_with_cust = transaction_data.merge(customer_data, on='cust_id', how='left') # join แบบ left (Default เป็น Full Join)
txn_with_cust # หมายความว่าให้ transaction_data อยู่ทางซ้าย

    txn_id cust_id  price process_date_x   age wealth_segment process_date_y
0        1       v   89.0       1/5/2021   NaN         medium     2020-01-05
1        2       y   60.0       1/5/2021  41.0           rich     2020-01-05
2        3       m   55.0       1/5/2021  30.0         medium     2020-01-05
3        4       s    NaN       1/5/2021  64.0           rich     2020-01-05
4        4       s    NaN       1/5/2021 -12.0           rich     2020-01-05
5        5       z   50.0       1/5/2021  43.0           rich     2020-01-05
6        5       z   50.0       1/5/2021  54.0           rich     2021-01-05
7        6       s   41.0       2/5/2021  64.0           rich     2020-01-05
8        6       s   41.0       2/5/2021 -12.0           rich     2020-01-05
9        7       s    NaN      15/5/2021  64.0           rich     2020-01-05
10       7       s    NaN      15/5/2021 -12.0           rich     2020-01-05
11       8       e   23.0       1/5/2021  44.0            NaN     2020-01-05
12       9       n   12.0       1/5/2021  29.0           poor     2020-01-05
13      10       x   87.0       1/5/2021  40.0           poor     2020-01-05

ปฏิบัติการข้อ 8) จากการรวมตารางข้อมูล transaction_data และ customer_data ข้างต้นจะพบว่ารูปแบบการแทนค่าตัวแปร process_date_x และ process_date_y ไม่สอดคล้องกัน จงทำให้รูปแบบการแทนค่าตัวแปร process_date_x และ process_date_y สอดคล้องกัน

In [98]:
# Answer here!
txn_with_cust["process_date_x"] = pd.to_datetime(txn_with_cust["process_date_x"], format="%d/%m/%Y")
txn_with_cust["process_date_y"] = pd.to_datetime(txn_with_cust["process_date_y"], format="%Y-%m-%d")
txn_with_cust

    txn_id cust_id  price process_date_x   age wealth_segment process_date_y
0        1       v   89.0     2021-05-01   NaN         medium     2020-01-05
1        2       y   60.0     2021-05-01  41.0           rich     2020-01-05
2        3       m   55.0     2021-05-01  30.0         medium     2020-01-05
3        4       s    NaN     2021-05-01  64.0           rich     2020-01-05
4        4       s    NaN     2021-05-01 -12.0           rich     2020-01-05
5        5       z   50.0     2021-05-01  43.0           rich     2020-01-05
6        5       z   50.0     2021-05-01  54.0           rich     2021-01-05
7        6       s   41.0     2021-05-02  64.0           rich     2020-01-05
8        6       s   41.0     2021-05-02 -12.0           rich     2020-01-05
9        7       s    NaN     2021-05-15  64.0           rich     2020-01-05
10       7       s    NaN     2021-05-15 -12.0           rich     2020-01-05
11       8       e   23.0     2021-05-01  44.0            NaN     2020-01-05
12       9       n   12.0     2021-05-01  29.0           poor     2020-01-05
13      10       x   87.0     2021-05-01  40.0           poor     2020-01-05